body {
    text-align: center;
}
form {
    display: inline-block;
}
#man{
    height: 25em;
    width: 32%;
    margin-left: 30px;
    display: inline;
}
#form_reg{
    width: 40em;
    border: 0px solid #666666;
    border-color: #666666;
    float: right;
    margin-right: 30px;
    padding: 15px;
    display: inline;
}
.form_control{
	width: 250px;
	height: 20px;
	border-radius: 6px;
	padding: 10px;
	margin: 10px;
	align: center;
}
.form_label{
	padding: 10px;
	margin: 10px;
	font-style: roboto;
	font-size: 16px;
} 
.form-text{
    font-size: 18px
}
#submit_btn{
    background-color: #002f65;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 6px;
}
.error{
	color: red;
	font-family: Georgia,Verdana,Calibri;
}
