.jumbotron{
    width: 75em;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 5px 10px 5px 10px #888888;
}

#heading{
    text-align: center;
    color: #002f65;
    font-size: 36px;
    font-style: bold;
}
.sidebar{
    display: inline-block;
}
.form-input{
    width: 5em;
}
#image{
    width: 17.4rem;
    padding: 1px;
}
#content{
    font-size: 16px;
}
#uname{
    width: 80px;
}
#uname_two{
    width: 100px;
    display: inline;
}
.main{
    float: right;
    margin-right: 40em;   
}
